
body {
  margin: 0;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'PT Sans', sans-serif;
  background: url('./images/background.png') no-repeat center center fixed;
  background-size: cover;

  @media (max-width: 768px) {
    background: url('./images/background-sm.png') no-repeat center center fixed;
    background-size: cover;
  }
}